#nav-bar
{
    position: stick;
    top: 0;
    z-index: 10;
    background-color: rgba(11,19,34,255);
}
.navbar-brand img
{
    height: 50px;
    padding-left: 30px;
}
.navbar-nav li
{
    padding: 0 10px;
}
.navbar-nav li a
{
    float: right;
    text-align: left;
}
#nav-bar ul li a:hover
{
    color: rgba(244,231,16,255)!important;
}
.navbar
{
    background: rgba(11,19,34,255);
    width: 75%;
    margin: auto;

}
.navbar-toggler
{
    border: none!important;
}
.nav-link
{
    color: white!important;
    font-weight: 600;
    font-size: 16px;
}