*
{
    margin: 0;
    padding: 0;
}
#body-container
{
    width:75%;
    margin: auto;
    background: #fff;
}
#body-bg
{
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(/img/StripedBackground.png);
    background-size: 300px;
}