h1
{
    color: rgba(11,19,34,255);
}
#body-container th
{ 
    font-size: 1.5vw;
    text-align: center;
    color:#fff;
    background-color: rgba(11,19,34,255) !important;
}
#body-container th:hover
{ 
    cursor: pointer;
}
#body-container td
{ 
    text-align: center;
    font-size: 1.5vw;
}
#body-container a
{
    color: rgba(11,19,34,255);
    text-decoration: none;
    font-weight: bolder;
}
#body-container a:hover
{
    color: rgba(11,19,34,255);
    text-decoration: underline;
}
.table-container
{
    padding: 30px;
}
.thumb
{
    width: 15vw;
}
.thumb-article
{
    width: 20vw;
}
.score
{
    width: 5vw;
}