.table-sortable
{
    max-width: 100%;
}
.table-sortable th {
    cursor: pointer;
    font-size: 24px;
    font-size: 1.5vw;
  }
  
  .table-sortable .th-sort-asc::after {
    content: "\25b4";
  }
  
  .table-sortable .th-sort-desc::after {
    content: "\25be";
  }
  
  .table-sortable .th-sort-asc::after,
  .table-sortable .th-sort-desc::after {
    margin-left: 5px;
  }
  
  .table-sortable .th-sort-asc,
  .table-sortable .th-sort-desc {
    background: rgba(0, 0, 0, 0.1);
  }

.thumb-img
{
    width: 10vw;
}
.thumb
{
    width: 10%;
}
.game
{
    width: 40%;
}
.date
{
    width: 20%;
}
.score
{
    width: 10%;
}
.score-img
{
    width: 3vw;
}